.brands-container {
    display: flex;
    animation: scrollAnimation 10s linear infinite; /* Adjust the duration to match the width of your container */
  }
  
  .brand {
    width: 120px;
    flex-shrink: 0;
    margin-right: 20px; /* Adjust as needed for spacing */
  }
  
  @keyframes scrollAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Adjust to -100% / -200% etc. depending on the number of repeats */
    }
  }
  